.feedbackHeading{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
}
.happy{
    font-size: large;
    font-weight: 600;
}

@media screen and (min-width: 992px) {
    .feedbackHeading{
        font-family: 'Poppins', sans-serif;
        font-size: 80px;
    }
    .feedbackDiv{
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}