.filter{
    flex-direction: row;
    justify-content: space-between;
}
.filterbtn{
    display: block;
    background-color: #FFEE99;
    border: none;
    border-radius: 10px;
    height: 2em;
    cursor: pointer;
}
.filterbtn:focus{
    outline: none;
}
@media screen and (min-width: 992px) {
    .filter{
        border-right: 1px solid #000;
        flex-direction: column;
        width: fit-content;
        font-size: medium;
    }
    .filterbtn{
        display: none;
    }
}