.postjob{
    width: 100%;
}
.jobpostinput{
    width: 100%;
    border: none;
    border-bottom: 2px solid #FFEE99;
}
textarea{
    border: 2px solid #FFEE99;
    width: 100%;
    height: 8em;
}
.jobpostinput:focus, textarea:focus{
    outline: none;
}
.btnPost{
    background-color: #FDD545;
    width: 100%;
}
.postdiv{
    width: 90%;
}
@media screen and (min-width: 992px) {
    .postjob{
        max-width: 50em;
    }
    .postdiv{
        width: 100%;
    }
}