.bigText{
    font-size: 45px;
    font-weight: bold;
}
.success{
    width: fit-content;
    background-color: #FFDD32;
    font-weight: 800;
}
.searchBox{
    border: 1px solid #1A1423;
    height: 2em;
    width: 100%;
}
.searchBtn{
    border-color: #FFE97F;
    height: 2em;
    background-color: #FFE97F;
}
.newjobs{
    overflow-x: scroll;
}
.newjobs::-webkit-scrollbar {
    display: none;
}
.footerHeading{
    font-size: 50px;
    font-weight: bold;
}
.footerHeading>span{
    color:#FDD545;
}
.newjobs::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.newjobs {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
@media screen and (min-width: 992px) {
    .bigText{
        font-size: 50px;
        font-weight: bold;
    }
    .footerHeading{
        font-size: 60px;
        font-weight: bold;
    }
    .searchBox{
        border: 1px solid #1A1423;
        height: 2em;
        width: 60%;
    }
}